<div id="lottery-list">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="text-capitalize">Join a lottery</h1>
            </div>
            <div class="col-xs-10 col-xs-offst-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                list
            </div>
        </div>
    </div>
</div>