<div class="atf wrapper">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 text-center">
        <h1 class="text-center text-capitalize">The <strong class="complete">completely</strong> fair dice game!</h1>
        <p class="text-center"><strong>The Dice Game</strong> is the first ever blockchain-powered dice-game (think lottery). It ensures <strong class="complete">complete</strong> randomness of the results and cannot be influenced and predicted by players or services alike.</p>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 col-lg-offset-2 btn-wrapper">
                <a href="#create-challenge" class="btn btn-full btn-big text-capitalize">Create a dice game</a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 btn-wrapper">
                <a href="#join-lottery" class="btn btn-full btn-big btn-secondary text-capitalize">Join a dice game</a>
            </div>
        </div>

    </div>
</div>