@import "../../../variables";
@import "../../../mixins";
.atf {
    color: $secondary-text-color;
    h1 {
        font-weight: $font-weight-light;
        font-size: $h1-font-size-big;
        margin-bottom: 20px;
    }
    .complete {
        text-decoration: underline;
    }
    .btn-wrapper {
        padding-top: 40px;
    }
}

.wrapper {
    padding-top: 220px;
}

@media #{$xs} {
    .wrapper {
        padding-top: 48px;
    }
}

@media #{$sm} {
    .wrapper {
        padding-top: 80px;
    }
}

@media #{$md} {
    .wrapper {
        padding-top: 120px;
    }
}

@media #{$lg} {
    .wrapper {
        padding-top: 180px;
    }
}