<div id="description">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="text-capitalize">How does it work?</h1>
            </div>
            <div class="col-xs-10 col-xs-offst-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <p class="text-center">Description</p>
            </div>
        </div>
    </div>
</div>