<div class="container-fluid main">
    <div class="full-height">
        <div class="full-height">
            <app-header></app-header>
            <app-atf></app-atf>
        </div>
        <div class="">
            <!-- <app-description></app-description> -->
            <app-create-challenge></app-create-challenge>
            <app-join></app-join>
            <!-- <app-challenges-list></app-challenges-list> -->
        </div>
    </div>
</div>