<div id="join-lottery">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="text-capitalize">Join a Dice Game</h1>
            </div>
            <div class="col-xs-10 col-xs-offst-1 col-md-6 col-md-offset-3">
                <form [formGroup]="joinForm" class="propy-form">
                    <div class="form-group form-inline text-center">
                        <input formControlName="challengeAddress" type="text" class="form-control" id="challengeAddress" placeholder="Challenge Address">
                        <button type=" button " class="btn " (click)="joinLottery() " [disabled]="challengeAddress.invalid">Join</button>
                        <button type="button" class="btn" (click)="reveal()" [disabled]="!revealStage">Submit Seed</button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="col-xs-12 text-center" *ngIf="lotteryWinner">
                <h4>The dice game winner is: <em>{{lotteryWinner}}</em></h4>
                <h5 *ngIf="lotteryWinner === userAccount && !rewardClaimed">Please claim your reward.</h5>
                <h5 *ngIf="lotteryWinner === userAccount && rewardClaimed">Your reward was succesfully clamied!</h5>
                <button type="button" class="btn" (click)="claim()" [disabled]="lotteryWinner !== userAccount || rewardClaimed">Claim Reward</button>
            </div>
        </div>
    </div>
</div>