<div id="create-challenge">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="text-capitalize">Create a dice game</h1>
            </div>
            <div class="col-xs-10 col-xs-offst-1 col-md-6 col-md-offset-3">
                <!-- <ng-progress [maximum]="1" [minimum]="0.0" [showSpinner]="false" [color]="'#2ebf49'" [thick]="false" [ease]="'linear'"></ng-progress> -->
                <form [formGroup]="createChallengeForm" class="propy-form">
                    <div class="form-group form-inline text-center">
                        <input formControlName="challengePrice" type="number" class="form-control" id="challengePrice" placeholder="Challenge Price">
                        <input formControlName="challengeName" type="text" class="form-control" id="challengePrice" placeholder="Challenge Name">
                        <button type=" button " class="btn" (click)="createLottery() " [disabled]="challengePrice.invalid || challengeName.invalid">Create</button>
                        <button type="button" class="btn" (click)="reveal()" [disabled]="!revealStage">Submit Seed</button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="col-xs-12 text-center" *ngIf="lotteryAddress">
                <h4>Your dice game address is: <em>{{lotteryAddress}}</em></h4>
            </div>
            <hr>
            <div class="col-xs-12 text-center" *ngIf="lotteryWinner">
                <h4>The dice game winner is: <em>{{lotteryWinner}}</em></h4>
                <h5 *ngIf="lotteryWinner === userAccount && !rewardClaimed">Please claim your reward.</h5>
                <h5 *ngIf="lotteryWinner === userAccount && rewardClaimed">Your reward was succesfully clamied!</h5>
                <button type="button" class="btn" (click)="claim()" [disabled]="lotteryWinner !== userAccount || rewardClaimed">Claim Reward</button>
            </div>
        </div>
    </div>
</div>