@import "../../../variables";
@import "../../../mixins";
nav.navbar.navbar-default.kronos-header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1000;
    margin: 0px;
    border: none;
    color: $menu-color;
    .navbar-header {
        .navbar-brand {
            @include transition(color 400ms linear);
            color: $menu-color;
            font-size: $font-size-big;
            &:hover {
                color: $menu-color-hover;
            }
        }
    }
    .navbar-nav {
        li {
            @include transition(color 400ms linear);
            a {
                color: $menu-color;
                font-size: $font-size-small;
                @include transition(color 400ms linear);
            }
            &:hover {
                a {
                    color: $menu-color-hover;
                }
            }
        }
    }
}