// Colors
$white: white;
$black: black;
$background-gray: #f7f7f7;
$light-gray: #aaa;
$gray: #777;
$dark-gray: #515151;
$green: #2ebf49;
$dark-green: darken($green, 10%);
$dark-gold: #B7860B;
$gold: lighten(#B7860B, 7%);
// Website Theme
$background-color: $white;
$dark-background-color: $background-gray;
$main-text-color: $black;
$secondary-text-color: $white;
$menu-color: $light-gray;
$menu-color-hover: $white;
$link-color: $gray;
$link-color-hover: $dark-gray;
$button-background-color: $green;
$button-background-color-hover: $dark-green;
$secondary-background-color: $green;
// Typography	
$default-font-family:'Montserrat',
sans-serif;
$heading-font-family: $default-font-family;
$font-size-big: 20px;
$font-size-base: 16px;
$font-size-small: 14px;
$h1-font-size-big: 48px;
$button-text-size: 26px;
// Font Weight
$font-weight-light: 200;
$font-weight-regular: 300;
$font-weight-bold: 500;
// Footer 
$footer-height: 60px;
// Media queries
$xxs: "(max-width: 500px)";
$xs: "(max-width: 768px)";
$sm: "(max-width: 995px)";
$md: "(max-width: 1200px)";
$lg: "(min-width: 1200px)";