/* You can add global styles to this file, and also import other style files */

// // Variables
@import "variables";
// Mixins
@import 'mixins';
// // Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,500');
html,
body {
    height: 100%;
    font-weight: $font-weight-regular;
    #wrap {
        min-height: 100%;
        #main {
            overflow: auto;
        }
    }
    .full-height {
        height: 100%;
    }
    @include background-image-cover('./assets/images/background-image.png');
    background-color: $background-color;
    font-family: $default-font-family;
    font-size: $font-size-base;
    color: $main-text-color;
    strong {
        font-weight: $font-weight-bold;
    }
    a.btn,
    button.btn {
        background-color: $button-background-color;
        font-weight: $font-weight-light;
        color: $white;
        border: none;
        @include transition(background-color 300ms linear);
        &:hover {
            background-color: $button-background-color-hover;
            color: $white;
        }
        &:active {
            color: $white;
        }
        &:visited {
            color: $white;
        }
        &:focus {
            color: $white;
        }
        &.btn-full {
            width: 100%;
        }
        &.btn-secondary {
            background-color: $gold;
            &:hover {
                background-color: $dark-gold;
                color: $white;
            }
        }
        &.btn-big {
            font-size: $button-text-size;
            padding: 10px 20px;
        }
    }
}